<div class="event-header" align="center"><span style="font-weight:bold; font-size:30px; color: #b3b3b3">Welcome to your {{events.Name}} Event</span>
	<div id="back-to-home">
	<a href= '/home/{{user_id}}' style="font-weight:bold; color: #4da6ff">Back To Home</a>
	</div>
</div>
<div class="event" align="center">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Location</th>
				<th>Participate</th>
				<th>Total Expense</th>
				<th>Event Share</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{events.Name}}</td>
				<td>{{events.Category}}</td>
				<td>{{events.Location}}</td>
				<td>{{events.Participants}}</td>
				<td>{{events.Total_Expense}}</td>
				<td>{{events.Event_Share}}</td>
				<th><a class = 'button' href="/event/{{event_id}}/update?user_id={{user_id}}">Edit</button></th>
			</tr>	
		</tbody>
	</table>
</div>


<div class="event-outerDiv">
	<div class="addItem" align="center">
		<form id = "itemAdd" action="/event/additem/{{event_id}}?user_id={{user_id}}" method = "post">
			<h2>Add Your Item</h2>
			<label><b>Description</b></label>
  			<input type="text" name="Description"><br>
  			<label><b>Quantity</b></label>
  			<input type="number" name="Quantity" ><br>
  			<label><b>Invoice Amount</b></label>
 			<input type="number" step="0.01" name="Invoice_Amount" ><br>
 			<button type="submit">Add</button>
		</form>
	</div>
	<div class="inviteFriend" align="center">
		<form id = "friendInvite" action ="/event/invitefriend/{{event_id}}?user_id={{user_id}}" method = "post">
			<h2>Invite Your friends</h2>
			<label><b>Email</b></label>
  			<input type="email" name="Email"><br>
  			<button type="submit">Send Invite</button>
		</form>
		
	</div>
	<div style="clear: both;"></div>
</div>


<h2 align="center">Item:</h2>
<div class="items" align="center">
	<table>
		<thead>
			<tr>
				<th>Description</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Quantity</th>
				<th>Invocie Amount</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{{#each items}}
			<tr>
				<td>{{Description}}</td>
				<td>{{First_Name}}</td>
				<td>{{Last_Name}}</td>
				<td>{{Quantity}}</td>
				<td>{{Invoice_Amount}}</td>
				{{#ifeq ../user_id Payer_ID}}
					<td><a href="/event/{{../../event_id}}/item/{{Item_ID}}?user_id={{../../user_id}}">Edit</td>
                    <td><button value="delete" onclick="deleteItem({{../../event_id}},{{Item_ID}})">Delete</button>
				{{else}}
					<td>Edit</td>
                    <td>Delete</td>
				{{/ifeq}}
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>


<h2 align="center">Participates:</h2>
<div class="participates" align="center">
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			{{#each participates}}
			<tr>
				<td>{{First_Name}}</th>
				<td>{{Last_Name}}</th>	
			</tr>
			{{/each}}
		</tbody>
	</table>
</div> 










