<div class="title">
	Hi {{username.First_Name}} {{username.Last_Name}}
</div>

<h3 class="event-heading"> Create Your Event</h2>
<div class="createEvent" align="center">
	<form id="creat-event" action="/home/{{user_id}}" method="post">
		<input type="text" name="eName" placeholder ="Event Name" required />
		<label>Category</label>
		<select name="category">
			<option value="Food">Food</option>
			<option value="Travel">Travel</option>
			<option value="Housing">Housing</option>
			<option value="Entertainment">Entertainment</option>
			<option value="Equipment">Equipment</option>
        	<option value="Other">Other</option>
		</select>
		<input type="text" name="location" placeholder = "Location" required />
		<button class="eventpage-button" type="submit" value="Create"> Create </button>
	</form>
</div>

<div class="event-search-filter" align="center" style="margin-bottom: 15px">

	<input type="text" placeholder="Enter event name" id="eventNameSearch" value = '' required>

	<input type="button" class="eventpage-button" value = "search" onclick="searchEvent({{user_id}})"></input>

    <select id='event_filter' style="margin-left: 15px;">
        <option value="Food">Food</option>
		<option value="Travel">Travel</option>
		<option value="Housing">Housing</option>
		<option value="Entertainment">Entertainment</option>
		<option value="Equipment">Equipment</option>
        <option value="Other">Other</option>
    </select>

	<input type="button" class="eventpage-button" value = "Filter by Category" onclick="filterByCategory({{user_id}})"></input><br>
	
</div>


<h3 class="event-heading"> Your Events</h2>


<div class="yourEvents" align="center">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Location</th>
				<th>Participate</th>
				<th>Total Expense</th>
				<th>Event Share</th>
				<th>Status</th>
				<th>Enter Event</th>
			</tr>
		</thead>
        <tbody>
        {{#each myEvent}}
            <tr>
                <td>{{Name}}</td>
                <td>{{Category}}</td>
                <td>{{Location}}</td>
                <td>{{Participants}}</td>
                <td>{{Total_Expense}}</td>
                <td>{{Event_Share}}</td>
                {{#ifeq status_Open "1"}}
                	<td>Close</td>
                {{else}}
                	<td>Open</td>
                {{/ifeq}}
                <td><a href="/event/{{Event_ID}}?user_id={{../user_id}}">Enter</td>
            </tr>
        {{else}}
        <b>You currently have no event!</b>
        {{/each}}
        </tbody>
	</table>
</div>
<h3 class="event-heading">Your Event Statements</h2>
<div class="yourStatements" align="center">
	<table>
		<thead>
			<tr>
				<th>Event</th>
				<th>Your Event Paid</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody>
        {{#each statements}}
            <tr>
                <td>{{Name}}</td>
                <td>{{Event_Paid}}</td>
                <td>{{Event_Balance}}</td>
            </tr>
        {{/each}}
		</tbody>
	</table>	
</div>