<div class="title">
		{{#each username}}
		Hi {{First_Name}} {{Last_Name}}
		{{/each}}
	</div>
	<h2 class="event-heading"> Create Your Event</h2>
	<div class="createEvent" align="center">
		<form id="creat-event" action="/home" method="post">
			<label><b>Event Name</b></label>
			<input type="text" name="eName">
			<label style="margin-left:15px;"><b>Category</b></label>
			<select name="category">
				<option value="food">Food</option>
				<option value="travel">Travel</option>
				<option value="housing">Housing</option>
				<option value="entertainment">Entertainment</option>
				<option value="equipment">equipment</option>
            	<option value="other">Other</option>
			</select>
			<label style="margin-left:15px;"><b>Location</b></label>
			<input type="text" name="location"><br><br>
			<button class="eventpage-button" type="submit" value="Create"> Create </button>
		</form>
	</div>
	<h2 class="event-heading"> Your Events</h2>
 
	<div class="event-search" align="center" style="margin-bottom: 15px">
		<input type="text" placeholder="Enter event name" required>
    	<button class="eventpage-button" value = "search" onclick="searchEvent()">Search</button>

        <select style="margin-left: 15px;">
            <option value="food">Food</option>
			<option value="travel">Travel</option>
			<option value="housing">Housing</option>
			<option value="entertainment">Entertainment</option>
			<option value="equipment">Equipment</option>
            <option value="other">Other</option>
        </select>
       
    	<button class="eventpage-button" value = "filter" onclick="filterByCategory()">Filter by Category</button><br>
	</div>

	<div class="yourEvents" align="center">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th>Location</th>
					<th>Participate</th>
					<th>Total Expense</th>
					<th>Event Share</th>
					<th>Status</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
            <tbody>
            {{#each myEvent}}
                <tr>
                    <td>{{Name}}</td>
                    <td>{{Category}}</td>
                    <td>{{Location}}</td>
                    <td>{{Participates}}</td>
                    <td>{{Total_Expense}}</td>
                    <td>{{Event_Share}}</td>
                    <td>{{Status_Open}}</td>
                    <td><a href="/event/1?user_id={{user_id}}">Enter</td>
                </tr>
            {{else}}
            <b>You currently have no event!</b>
            {{/each}}
            </tbody>
		</table>
	</div>
	<h2 class="event-heading">Your Event Statements</h2>
	<div class="yourStatements" align="center">
		<table>
			<thead>
				<tr>
					<th>Event</th>
					<th>Your Event Paid</th>
					<th>Balance</th>
				</tr>
			</thead>
			<tbody>
            {{#each myEvent}}
                <tr>
                    <td>{{Event_ID}}</td>
                    <td>{{Event_Paid}}</td>
                    <td>{{Event_Balance}}</td>
                </tr>
            {{/each}}
			</tbody>
		</table>	
	</div>