
<div id="back-to-home">
	<a href='/event/{{event_id}}?user_id={{user_id}}' style="font-weight:bold; color: #4da6ff">Back To Event</a>
</div>


<div class="updateEvent" align="center">
	<h2>Edit your event</h2>
	<form id="update-event" action="/event/{{event_id}}/update?user_id={{user_id}}" method = "post">
		<label><b>Name</b></label>
			<input type="text" name="Name" value={{myevent.Name}}><br>
			<label>Category</label>
			<select name="Category" id = "category-selector">
				{{#ifeq myevent.Categoty "Food"}} 
					<option value="Food" selected>Food</option>
				{{else}}
					<option value="Food">Food</option>
					
	        	{{/ifeq}}

	        	{{#ifeq myevent.Categoty "Travel"}} 
					<option value="Travel" selected>Travel</option>
				{{else}}
					<option value="Travel">Travel</option>
	        	{{/ifeq}}

	        	{{#ifeq myevent.Categoty "Housing"}} 
					<option value="Housing" selected>Food</option>
				{{else}}
					<option value="Housing">Food</option>
	        	{{/ifeq}}

	        	{{#ifeq myevent.Categoty "Entertainment"}} 
	        		<option value="Entertainment" selected>Entertainment</option>
				{{else}}
					<option value="Entertainment">Entertainment</option>
	        	{{/ifeq}}

	        	{{#ifeq myevent.Categoty "Equipment"}}
	        		<option value="Equipment" selected>Equipment</option> 
	        	{{else}}
					<option value="Equipment" >Equipment</option> 
	        	{{/ifeq}}

	        	{{#ifeq myevent.Categoty "Other"}}
	        		<option value="Other" selected>Other</option>
	        	{{else}}
					<option value="Other">Other</option>
	        	{{/ifeq}}

			</select><br>
		
			<label><b>Location</b></label>
			<input type="text" name="Location" value={{myevent.Location}}><br>
			<button class="eventpage-button" type="submit" value="Create"> Edit </button>
	
	</form>

</div>
